
@model ShoutsShare.Web.ViewModels.Contents.CreateContentInputModel
@{this.ViewData["Title"] = "Add new recipe";}

<form method="post" enctype="multipart/form-data" class="col-md-6 offset-md-3" asp-controller="Files" asp-action="Upload">
    <h1 class="display-4">Create Content</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="cta-btn"><input type="file" name="file"></a>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" value="Upload">Upload File</button>
    </div>
</form>
